{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-select mx-auto w-auto">
                <option disabled selected>Symbol</option>

            {% for item in list_item %}
                <option value={{item}}>{{item}}</option>
              {%endfor%}
            </select><br>
            <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" id="symbol" name="shares" placeholder="Shares" type="number"><br>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
